.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  video {
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(226, 226, 226); /* 确保在视频未加载时有背景色 */
  }
  