/* src/components/Header.css */
.header {
    background-color: #333;
    color: white;
    padding: 100px;
    text-align: center; /* 将整个 header 的内容居中 */
    position: relative; /* 设置 header 容器为相对定位 */
  }
  
  .header-container {
    display: flex;
    justify-content: center; /* 中心对齐 h1 文本 */
    align-items: center;
    position: relative;
  }
  
  .header h1 {
    position: center;
    margin: 0;
    flex-grow: 1; /* 使 h1 元素在父元素中尽可能填充 */
  }
  
  .header h2 {
    position: center;
    margin: 1;
    flex-grow: 1; /* 使 h1 元素在父元素中尽可能填充 */
  }
  .language-switcher {
    position: absolute;
    top: 20px; /* 调整位置，距离顶部20px */
    right: 20px; /* 调整位置，距离右侧20px */
    display: flex;
    gap: 10px;
  }
  
  .language-switcher button {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .language-switcher button:hover {
    background-color: #777;
  }
  