/* src/components/Header.css */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    position: relative; /* 为绝对定位的元素提供参考 */
    display: flex;
    flex-direction: column; /* 使内容垂直排列 */
    justify-content: center; /* 水平居中内容 */
    align-items: center; /* 垂直居中内容 */
    text-align: center; /* 居中文字 */
    height: 100vh; /* 让header占据整个视窗高度，确保内容居中 */
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header h1,
  .header p {
    margin: 0;
    padding: 10px 0;
  }
  