body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent; /* 设置背景透明 */
}

header {
  background-color: rgba(51, 51, 51, 0.8); /* 半透明背景 */
  color: #fff;
  padding: 1em 0;
  text-align: center;
  position: relative;
  z-index: 1; /* 确保内容在视频背景之上 */
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1em;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2em;
  margin: 2em 0;
  position: relative;
  z-index: 1; /* 确保内容在视频背景之上 */
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: rgba(51, 51, 51, 0.8); /* 半透明背景 */
  color: #fff;
  position: relative;
  z-index: 1; /* 确保内容在视频背景之上 */
}
